* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Actual code starts here */

html {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: whitesmoke;
    text-rendering: optimizeLegibility;
}

header {
    background: linear-gradient(rgba(53, 49, 49, 0.450), rgba(53, 49, 49, 0.450)), url(../images/background-cheers.jpg), no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

body {
    color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    height: 100vh;
}

.stylebutton {
    background-color: inherit;
    color: whitesmoke;
    padding: 13px 20px;
    border: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    float: right;
    transform: translate(-20px);
}

.nav-bar {
    width: 100%;
    height: 50px;
}

.nav-bar-bottom-border {
    width: 80%;
    height: 2px;
    margin: 0px auto;
    border-bottom: 1px solid whitesmoke;
    top: 50px;
    left: 10%;
}

.nav-bar ul {
    margin-left: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 110%;
}

.nav-bar ul li {
    display: inline-block;
    margin: 15px auto;
    padding-right: 15px;
    line-height: 100%;
}

.nav-bar ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

.main-wrapper {
    margin: 0 auto;
    width: 90%;
    /*background-color: #FFDAAB; */
    padding: 10px;
}

h2 {
    font-size: 150%;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 120%;
    padding-bottom: 10px;
}

p {
    font-size: 90%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
    padding: 30px 0;
}

/* ---------------------------------- */
/* GALLERY /*
/* ---------------------------------- */

.section-gallery {
    background-color: #e4e4e4;
    color: rgb(120, 124, 126);
}

.gallery-main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.beer-showcase {
    list-style: none;
    width: 100%;
    margin: 20px auto;
}

.beer-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.beer-photo {
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.beer-photo img {
    width: 100%;
    height: auto;
    background-color: black;
    transform: scale(1.25);
    opacity: 0.65;
    transition: transform 0.5s, opacity 0.5s;
}

.beer-photo img:hover {
    opacity: 1;
    transform: scale(1.06);
}